extends layout

block content
    h1 Register
    p Please register using the form below
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method='post', action='/users/registerDoc', enctype='multipart/form-data')
        .form-group
            label Adhar Card Number
            input.form-control(name='username', type='text', placeholder='Enter Adhar Card number here')
        .form-group
            label Password
            input.form-control(name='password', type='password', placeholder='Enter Password')
        .form-group
            label Confirm Password
            input.form-control(name='password2', type='password', placeholder='Confirm')

        input.btn.btn-default(name='Submit', type='submit', value='Register')